//Anzeige Anzahl Einträge
div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

div.dataTables_wrapper div.dataTables_length select {
    width: auto;
    display: inline-block;
}

.dataTables_wrapper .dataTables_length select {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    padding: 4px;
}
